%p
  %label{for: 'fixture_url'} Url*
  %input.wide#fixture_url{type: 'text', name: 'fixture[url]', value: @fixture.url}

%p
  %label{for: 'fixture_content'} Content*
  %textarea.wide#fixture_content{name: 'fixture[content]', rows: 10}= @fixture.content

%p
  %label{for: 'fixture_description'} Description
  %textarea.wide#fixture_description{name: 'fixture[description]', rows: 3}= @fixture.description

%p
  %input{type: 'submit', value: 'Save'}
  |
  %a{href: 'javascript:history.back()'} back
