%h1 Fixtures
%a= link_to 'New fixture', '/fixtures/new'
%table
  %thead
    %tr
      %th URL
      %th Description
  %tbody
  - @fixtures.each do |f|
    %tr
      %td= f.url
      %td= f.description
