%h1 Fixtures
%a= link_to 'New fixture', '/fixtures/new'
%table
  %thead
    %tr
      %th URL
      %th Description
      %th Active?
  %tbody
    - @fixtures.group_by {|f| f.url}.each do |url, fs|
      - fs.each_with_index do |f, i|
        %tr{id: "fixture_row_#{f.id}"}
          - if i == 0
            %td{rowspan: fs.size}= url
          %td= f.description
          %td.label.text-center
            %input.active-fixture-toggle{type: 'radio', name: url, checked: f.active, data: { fixture_id: f.id }}

:javascript
  $('td.label').click(function() {
      $('input', this).click();
  });

  $('input.active-fixture-toggle').click(function(e) {
      e.stopPropagation();

      if (!this.checked) {
        $.post(
          '/fixtures/' + this.getAttribute('data-fixture_id'),
          { _method: 'put', active: '1' },
          function(data) {
            $.jGrowl(data);
          }
        );
      }
  });
