!!!
%html
  %head
    %title= request.path_info.sub(%r{.*/([^/]*)$}, '\\1')
    %link{href: '/css/inuit.css', rel: 'stylesheet'}
    %link{href: '/css/grid.inuit.css', rel: 'stylesheet'}
    %link{href: '/css/base.css', rel: 'stylesheet'}
  %body.wrapper
    = yield
