%p
  %label{:for => 'redirect_pattern'} Pattern*
  %input.wide#redirect_pattern{:type => 'text', :name => 'redirect[pattern]', :value => @redirect.pattern}
%p
  %label{:for => 'redirect_to'} Redirect to*
  %input.wide#redirect_to{:type => 'text', :name => 'redirect[to]', :value => @redirect.to}

%p
  %input{:type => 'submit', :value => 'Save'}
  |
  %a{:href => 'javascript:history.back()'} back
